@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
body {
  margin: 0;
  font-family: "Petit Formal Script", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffc8a3;
}
html, body {
  position: relative;
  height: 100vh;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  position:fixed;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  top:0;
  gap:2vw;
  background-color: #ffc299;
  z-index:5;
  color: #004d00;
}
h1{
  margin-left:6vw;
}
.products{
  margin-top:10vh;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat(4,1fr);
  column-gap:3vw;
  row-gap:3vh;
  z-index:-1;
}
.brand{
  margin-right:auto;
}
.fa-solid{
  margin-right:3vw;
}
.swiper {
  width: 100%;
  height: 100vh;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.btn{
  background-color: #ffc8a3;
  margin:2px;
}
.btn:hover{
  background-color: #ffc299;
}
