@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
body {
  margin: 0;
  font-family: "Petit Formal Script", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffc8a3;
}
html, body {
  position: relative;
  height: 100vh;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  position:fixed;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  top:0;
  gap:2vw;
  background-color: #ffc299;
  z-index:5;
  color: #004d00;
}
Link{
  color:#004d00;
}
h1{
  margin-left:6vw;
}

.products{
  margin-top:10vh;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat(auto,1fr);
  column-gap:3vw;
  row-gap:3vh;
  z-index:-1;
}
.product-details{
  display:grid;
  grid-template-columns:30vw auto;
  column-gap:4vw;
}
.product-details > img{
  width:30vw;
  height:auto;
}
.product-side > button {
  background-color: #004d00;
  color:white;
}
.product-side > button:hover {
  background-color: #032703;
  color:white;
}
.card{
  display:grid;
  justify-items:center;
  justify-content: center;
  padding-bottom:0px;
}
.btn{
  background-color: #ffc8a3;
  margin:2px;
}
.btn:hover{
  background-color: #ffc299;
}

.brand{
  margin-right:auto;
}
.fa-solid{
  margin-right:3vw;
}
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.cart{
  background-color:#ffc299;
  display:flex;
  column-gap:3vw;
  width:30vw;;
  border-bottom: 1px solid #004d00;
  justify-content:flex-start;
}
.shopping-cart{
  margin-top:10vh;
  display:flex;
 justify-content:center;
 gap:15vw;
}
.checkout{
  background-color: #ffe4d1;
  width:15vw;
  height:fit-content;
  padding:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:2rem;
}
.cart-container{
  display:flex;
  flex-direction:column;
  gap:2vh;
}
.remove-cart:hover{
  font-weight:bold;
}
.cart-title{
  margin-right:auto;
}
.not-found{
  margin-top:10vh;
}
.link{
  text-decoration: none;
  color: #004d00;
}
.active{
  text-decoration: underline;
}
.badge{
  background-color:#004d00;
  font-size:0.5rem;
}
.checkout-btn{
  background-color: #004d00;
  color:white;
  width:10vw;
}
.checkout-btn:hover{
  background-color:#032703;
  color:white;
  
}